mainmenu "mosys configuration"

# Internal stuff
config KERNELVERSION
	string
	option env="KERNELVERSION"

config UNITTEST
       bool
       option env="UNITTEST"

menu "General setup"
config ADVANCED_OPTIONS
	bool "Advanced configuration"
	default n
	help
	  This will enable advanced options to be selected and configured

config LOGLEVEL
	int "Log level threshold"
	range 0 8
	default 4
	help
	  Configure the verbosity of print statements in the code. Each 'v'
	  passed in using the command-line will increment the threshold by 1.
	  
	  Mnemonic     Value    Description
	  LOG_EMERG	0	system is unusable
	  LOG_ALERT	1	action must be taken immediately
	  LOG_CRIT	2	critical conditions
	  LOG_ERR	3	error conditions
	  LOG_WARNING	4	warning conditions
	  LOG_NOTICE	5	normal but significant condition
	  LOG_INFO	6	informational
	  LOG_DEBUG	7	debug-level messages	
	  LOG_SPEW	8	excessive debug messages

config USE_IPC_LOCK
	bool "Use IPC locking mechanism"
	default y
	help
	  The IPC locking mechanism ensures that mosys does not run at the
	  the same time as processes holding known IPC locks. For example,
	  this prevents multiple instances of mosys from running.

config DEBUG_INFO
	bool "Optimize mosys binary for debugging"
	default n
	help
	  This will add flags to the compiler to insert debugging info. Use
	  this to debug the actual binary, for example, if you are experiencing
	  instability (segfaults).

endmenu

source "intf/Kconfig"
source "platform/Kconfig"
source "drivers/Kconfig"
source "tools/Kconfig"
