#
# Acer platform configuration
#

menu "Acer Platform Support"

config PLATFORM_PARROT
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_SERIES6
	bool "Acer C7 Chromebook"
	default n

config PLATFORM_ZGB
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_NM10
	select EC_NUVOTON_NPCE781
	bool "Acer AC700 Chromebook"
	default n

endmenu
