#
# HP platform configuration
#

menu "HP Platform Support"

config PLATFORM_HP
	bool "HP platform support"
	default n

config HP_Z600
	depends on PLATFORM_ARCH_X86 && PLATFORM_HP
	bool "z600 workstation"
	default y

endmenu
