#
# HP platform configuration
#

menu "HP Platform Support"

config PLATFORM_BUTTERFLY
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_SERIES6
	select EC_ENE_KB932
	select STORAGE_SANDISK_U100
	bool "HP Pavilion 14-c010us Chromebook"
	default n

config PLATFORM_SPRING
        depends on PLATFORM_ARCH_ARMEL
        select CROS_EC_I2C
        select SOC_SAMSUNG_EXYNOS5250
        bool "HP Chromebook 11"
        default n

config PLATFORM_Z600
	depends on PLATFORM_ARCH_X86
	bool "z600 workstation"
	default y

endmenu
