#
# Platform configuration
#

menu "Platforms"

config PLATFORM_ARCH_ARMEL
	bool "ARM endian-little platforms"

config PLATFORM_ARCH_X86
	bool "x86 platforms"

source "platform/default/Kconfig"
source "platform/hp/Kconfig"

endmenu
