#
# Experimental platform configuration
#

menu "Experimental Platform Support"

config PLATFORM_EXPERIMENTAL
	bool "Experimental platform support"
	default n

config EXPERIMENTAL_AEBL
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "aebl tegra2 reference board"
	default n

config EXPERIMENTAL_ASYMPTOTE
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "asymptote tegra2"
	default n

config EXPERIMENTAL_KAEN
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	select TRACKPAD_CYPRESS_APA
	bool "kaen tegra2 reference board"
	default n

config EXPERIMENTAL_SEABOARD
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "seaboard tegra2 reference board"
	default n

config EXPERIMENTAL_KIEV
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	select SUPERIO_ITE_IT8772
	bool "kiev"
	default n

config PLATFORM_PEACH
        depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
        select GOOGLE_EC_SPI
        select SOC_SAMSUNG_EXYNOS5420
        bool "peach"
        default n

config EXPERIMENTAL_SLIPPY
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_LYNXPOINT_LP
	select GOOGLE_EC_LPC
	bool "slippy"
	default n

config PLATFORM_SPRING
        depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
        select GOOGLE_EC_I2C
        select SOC_SAMSUNG_EXYNOS5250
        bool "spring"
        default n

endmenu
