#
# Experimental platform configuration
#

menu "Experimental Platform Support"

config PLATFORM_EXPERIMENTAL
	bool "Experimental platform support"
	default n

config EXPERIMENTAL_CYAN
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CROS_EC_LPC
	select SOC_INTEL_BRASWELL
	bool "cyan"
	default n

config EXPERIMENTAL_GLADOS
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CROS_EC_LPC
	#select CHIPSET_INTEL_LYNXPOINT_LP
	bool "glados"
	default n

config EXPERIMENTAL_KIEV
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	select SUPERIO_ITE_IT8772
	bool "kiev"
	default n

config EXPERIMENTAL_STRAGO
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CROS_EC_LPC
	select SOC_INTEL_BRASWELL
	bool "strago"
	default n

endmenu
