#
# Experimental platform configuration
#

menu "Experimental Platform Support"

config PLATFORM_EXPERIMENTAL
	bool "Experimental platform support"
	default n

config EXPERIMENTAL_AEBL
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "aebl tegra2 reference board"
	default n

config EXPERIMENTAL_ASYMPTOTE
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "asymptote tegra2"
	default n

config EXPERIMENTAL_BUTTERFLY
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	bool "butterfly"
	default n

config EXPERIMENTAL_DAISY
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select GOOGLE_EC_I2C
	select SOC_SAMSUNG_EXYNOS5
	bool "daisy"
	default n

config EXPERIMENTAL_KAEN
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	select TRACKPAD_CYPRESS_APA
	bool "kaen tegra2 reference board"
	default n

config EXPERIMENTAL_SEABOARD
	depends on PLATFORM_ARCH_ARMEL && PLATFORM_EXPERIMENTAL
	select SOC_NVIDIA_TEGRA2
	bool "seaboard tegra2 reference board"
	default n

config EXPERIMENTAL_KIEV
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	select SUPERIO_ITE_IT8772
	bool "kiev"
	default n

config EXPERIMENTAL_LINK
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	select GOOGLE_EC_LPC
	bool "link"
	default n

config EXPERIMENTAL_LUMPY
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	bool "lumpy"
	default n

config EXPERIMENTAL_PARROT
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	bool "parrot"
	default n

config EXPERIMENTAL_STUMPY
	depends on PLATFORM_ARCH_X86 && PLATFORM_EXPERIMENTAL
	select CHIPSET_INTEL_SERIES6
	select SUPERIO_ITE_IT8772
	bool "stumpy"
	default n

endmenu
