#
# Samsung platform configuration
#

menu "Samsung Platform Support"

config SAMSUNG_SERIES5
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_NM10
	select EC_SMSC_MEC1308
	bool "Samsung Chromebook (Series 5)"
	default n

endmenu
