# driver subdirectories will have Kconfig files to list symbols

menu "Device Drivers"

source "drivers/cypress/Kconfig"
source "drivers/google/Kconfig"
source "drivers/intel/Kconfig"
source "drivers/ite/Kconfig"
source "drivers/nuvoton/Kconfig"
source "drivers/smsc/Kconfig"
source "drivers/ene/Kconfig"

endmenu
