#
# System information configuration
#

menu "System Information (Type 1)"
	depends on BUILD_VPD

config SYSTEM_MANUFACTURER
	string
	prompt "Manufacturer"

config SYSTEM_PRODUCT_NAME
	string
	prompt "Product name"

config SYSTEM_VERSION
	string
	prompt "Version"

config SYSTEM_SERIAL_NUMBER
	string
	prompt "Serial number"

config SYSTEM_UUID
	string
	prompt "UUID"
	default "00000000-0000-0000-0000-000000000000"
	help
	  128-bit UUID, obeying RFC4122 format.
	  Example: 0bf40e9f-e9e9-4c42-a39b-ee1c54a4359a

#config SYSTEM_WAKEUP_TYPE

config SYSTEM_SKU_NUMBER
	string
	prompt "SKU number"

config SYSTEM_FAMILY
	string
	prompt "Family"
endmenu	# System Information (Type 1)
