#
# Google Chrome OS OEM custom information configuration
#

menu "Google Chrome OS OEM Custom Information (Type 240)"
config GOOGLE_CUSTOM_STRUCT_MAJOR_VERSION
	int "Major version"
	range 0 255
	default 1

config GOOGLE_CUSTOM_STRUCT_MINOR_VERSION
	int "Minor version"
	range 0 255
	default 0

config GOOGLE_CUSTOM_STRUCT_EXTRA_VERSION
	string "Extra version"

config GOOGLE_CUSTOM_NUM_NICS
	int "Number of network interface devices present"
#FIXME: This imposes a limit of 8.
	range 0 8
	help
	  This indicates the number of networking interface devices
	  (each with a unique ID) in the system.

# FIXME: Maybe this can be done a better way?
menuconfig NIC0_PRESENT
	bool "NIC0 Config"
choice
	prompt "NIC0 type"
	depends on NIC0_PRESENT
config NIC0_TYPE_UNSPECIFIED
	bool "Unspecified"

config NIC0_TYPE_IEEE802
	bool "IEEE 802 MAC-48"

config NIC0_TYPE_IMEI
	bool "IMEI (14 digits plus check digit)"

config NIC0_TYPE_IMEISV
	bool "IMEI/SV (16 digits)"

config NIC0_TYPE_MEID
	bool "MEID (56-bits / 14 hex digits)"
endchoice
config NIC0_ID
	depends on NIC0_PRESENT
	string "NIC0 network device ID"
	help
	  Format for IEEE 802: 01:23:45:67:89:ab
	  Format for IMEI: AA-BBBBBB-CCCCCC-D
	  FOrmat for IMEI/SV: AA-BBBBBB-CCCCCC-EE
	  Format for MEID: RRXXXXXXZZZZZZ

menuconfig NIC1_PRESENT
	bool "NIC1 Config"
choice
	prompt "NIC1 type"
	depends on NIC1_PRESENT
config NIC1_TYPE_UNSPECIFIED
	bool "Unspecified"
config NIC1_TYPE_IEEE802
	bool "IEEE 802 MAC-48"
config NIC1_TYPE_IMEI
	bool "IMEI (14 digits plus check digit)"
config NIC1_TYPE_IMEISV
	bool "IMEI/SV (16 digits)"
config NIC1_TYPE_MEID
	bool "MEID (56-bits / 14 hex digits)"
endchoice

config NIC1_ID
	depends on NIC1_PRESENT
	string "NIC1 network device ID"
	help
	  Format for IEEE 802: 01:23:45:67:89:ab
	  Format for IMEI: AA-BBBBBB-CCCCCC-D
	  FOrmat for IMEI/SV: AA-BBBBBB-CCCCCC-EE
	  Format for MEID: RRXXXXXXZZZZZZ

menuconfig NIC2_PRESENT
	bool "NIC2 Config"
choice
	prompt "NIC2 type"
	depends on NIC2_PRESENT
config NIC2_TYPE_UNSPECIFIED
	bool "Unspecified"
config NIC2_TYPE_IEEE802
	bool "IEEE 802 MAC-48"
config NIC2_TYPE_IMEI
	bool "IMEI (14 digits plus check digit)"
config NIC2_TYPE_IMEISV
	bool "IMEI/SV (16 digits)"
config NIC2_TYPE_MEID
	bool "MEID (56-bits / 14 hex digits)"
endchoice
config NIC2_ID
	depends on NIC2_PRESENT
	string "NIC2 network device ID"
	help
	  Format for IEEE 802: 01:23:45:67:89:ab
	  Format for IMEI: AA-BBBBBB-CCCCCC-D
	  FOrmat for IMEI/SV: AA-BBBBBB-CCCCCC-EE
	  Format for MEID: RRXXXXXXZZZZZZ

menuconfig NIC3_PRESENT
	bool "NIC3 Config"
choice
	prompt "NIC3 type"
	depends on NIC3_PRESENT
config NIC3_TYPE_UNSPECIFIED
	bool "Unspecified"
config NIC3_TYPE_IEEE802
	bool "IEEE 802 MAC-48"
config NIC3_TYPE_IMEI
	bool "IMEI (14 digits plus check digit)"
config NIC3_TYPE_IMEISV
	bool "IMEI/SV (16 digits)"
config NIC3_TYPE_MEID
	bool "MEID (56-bits / 14 hex digits)"
endchoice
config NIC3_ID
	depends on NIC3_PRESENT
	string "NIC3 network device ID"
	help
	  Format for IEEE 802: 01:23:45:67:89:ab
	  Format for IMEI: AA-BBBBBB-CCCCCC-D
	  FOrmat for IMEI/SV: AA-BBBBBB-CCCCCC-EE
	  Format for MEID: RRXXXXXXZZZZZZ

# Experimental stuff...
#if GOOGLE_CUSTOM_NUM_NICS=4
#config FOOBAR
#	select NIC4_PRESENT
#endif
#config GOOGLE_CUSTOM_NIC4_TYPE
#	depends on NIC4_PRESENT
#	int "NIC4 type"
#	range 0 255
#config GOOGLE_CUSTOM_NIC4_ID
#	depends on NIC4_PRESENT
#	string "NIC4 network device ID"

#config FOO
#	depends on GOOGLE_CUSTOM_NUM_NICS >= 4
#	int "foo"

# FIXME: Add in more NICs

endmenu	# end Google Chrome OS OEM Custom Information (Type 240)
