#
# System information configuration
#

menu "System Information (Type 1)"
	depends on BUILD_VPD

config SYSTEM_MANUFACTURER
	string "System manufacturer"
	default "To be filled in"

config SYSTEM_PRODUCT_NAME
	string "System product name"
	default "To be filled in"

config SYSTEM_VERSION
	string "System version"
	default "To be filled in"

config SYSTEM_SERIAL_NUMBER
	string "System serial number"
	default "To be filled in"

config SYSTEM_UUID
	string "System UUID"
	default "00000000-0000-0000-0000-000000000000"
	help
	  128-bit UUID, obeying RFC4122 format.
	  Example: 0bf40e9f-e9e9-4c42-a39b-ee1c54a4359a

#config SYSTEM_WAKEUP_TYPE

config SYSTEM_SKU
	string "System SKU"
	default "To be filled in"

config SYSTEM_FAMILY
	string "System family"
	default "To be filled in"

endmenu	# System Information (Type 1)
