#
# Google platform configuration
#

menu "Google Platform Support"

config PLATFORM_BELTINO
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_LYNXPOINT_LP
	bool "beltino"
	default n

config PLATFORM_LINK
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_SERIES6
	select CROS_EC_LPC
	bool "Google Pixel"
	default n

config PLATFORM_MARIO
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_NM10
	select EC_ITE_IT8500
	bool "Google Cr-48 Chromebook"
	default n

endmenu
