#
# Google platform configuration
#

menu "Google Platform Support"

config PLATFORM_AURON
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_LYNXPOINT_LP
	select CROS_EC_LPC
	bool "Auron"
	default n

config PLATFORM_BELTINO
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_LYNXPOINT_LP
	bool "beltino"
	default n

config PLATFORM_CYAN
	depends on PLATFORM_ARCH_X86
	select CROS_EC_LPC
	select SOC_INTEL_BRASWELL
	bool "cyan"
	default n

config PLATFORM_CYCLONE
	depends on PLATFORM_ARCH_ARMEL
	bool "Cyclone"
	default n

config PLATFORM_GRU
	depends on PLATFORM_ARCH_ARMEL
	bool "Gru"
	default n

config PLATFORM_LINK
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_SERIES6
	select CROS_EC_LPC
	bool "Google Pixel"
	default n

config PLATFORM_MARIO
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_NM10
	select EC_ITE_IT8500
	bool "Google Cr-48 Chromebook"
	default n

config PLATFORM_NYAN
        depends on PLATFORM_ARCH_ARMEL
	select SOC_NVIDIA_TEGRA124
        select CROS_EC_SPI
        bool "nyan"
        default n

config PLATFORM_OAK
	depends on PLATFORM_ARCH_ARMEL
	bool "Oak"
	default n

config PLATFORM_PINKY
	depends on PLATFORM_ARCH_ARMEL
	bool "Pinky"
	default n

config PLATFORM_RAMBI
	depends on PLATFORM_ARCH_X86
	select CROS_EC_LPC
	select SOC_INTEL_BAYTRAIL
	bool "rambi"
	default n

config PLATFORM_REEF
	depends on PLATFORM_ARCH_X86
	select CROS_EC_LPC
	select SOC_INTEL_APOLLOLAKE
	bool "reef"
	default n

config PLATFORM_SMAUG
	depends on PLATFORM_ARCH_ARMEL
	select SOC_NVIDIA_TEGRA124
	select CROS_EC_I2C
	bool "smaug"
	default n

config PLATFORM_SAMUS
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_LYNXPOINT_LP
	select CROS_EC_LPC
	bool "Samus"
	default n

config PLATFORM_SKATE
        depends on PLATFORM_ARCH_ARMEL
        select CROS_EC_I2C
        select SOC_SAMSUNG_EXYNOS5250
        bool "skate"
        default n

config PLATFORM_SLIPPY
	depends on PLATFORM_ARCH_X86
	select CHIPSET_INTEL_LYNXPOINT_LP
	select CROS_EC_LPC
	bool "slippy"
	default n

config PLATFORM_STORM
	depends on PLATFORM_ARCH_ARMEL
	bool "Storm"
	default n

endmenu
