# intel config variables

config CHIPSET_INTEL
	bool
	default n

config CHIPSET_INTEL_NM10
	bool "NM10"
	select CHIPSET_INTEL
	default n

config CHIPSET_INTEL_SERIES6
	bool "6-Series chipset"
	select CHIPSET_INTEL
	default n
	help
	  This currently includes the QM67, UM67, HM67, HM65, and QS67 SKUs

config CHIPSET_INTEL_LYNXPOINT_LP
	bool "Intel LynxPoint Low Power Chipset"
	select CHIPSET_INTEL
	default n

config SOC_INTEL_BAYTRAIL
	bool "Intel Baytrail SOC"
	default n

config SOC_INTEL_BRASWELL
	bool "Intel Braswell SOC"
	default n
