# google config variables

config CROS_EC
	bool
	default n

config CROS_EC_I2C
        bool "I2C interface used in some Chromebook ECs"
	select CROS_EC
        default n

config CROS_EC_LPC
        bool "LPC interface used in some Chromebook ECs"
	select CROS_EC
        default n
